.topNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: lightblue;
  padding-top: 5px;
  padding-bottom:7px;
  width: 100%;
  .text {
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    margin-right: 15px;
  }
}